*.ts
!*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out
coverage


# Exclude jsii outdir
dist

# Include .jsii
!.jsii


# Exclude jsii outdir
dist

# Include .jsii and .jsii.gz
!.jsii
!.jsii.gz
